<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69755273051-rklsrafgjr1o50gisqntdn0npabe8lic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69755273051-rklsrafgjr1o50gisqntdn0npabe8lic</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69755273051-1j7g848ujn6okvq7lrtkuo34qf53dlp2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgvZ6jAIGVxTVsvYNtd5-N3yAYy06nv98</string>
	<key>GCM_SENDER_ID</key>
	<string>69755273051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>go.pharmacy.online</string>
	<key>PROJECT_ID</key>
	<string>gopharm-9e860</string>
	<key>STORAGE_BUCKET</key>
	<string>gopharm-9e860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69755273051:ios:665581d81783f1e25aa47e</string>
	<key>DATABASE_URL</key>
	<string>https://gopharm-9e860.firebaseio.com</string>
</dict>
</plist>